@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

body {
  background-image: url("./background.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App {
  min-width: 80vw;
  max-width: 80vw;
  font-family: "Junge", serif;
  display: flex;
  flex-direction: column;
}

button {
  color: #fe5f55 !important;
  background: none;
  border: none;
  font-family: "Junge", serif;
  font-size: 12pt;
  cursor: pointer;
}

button:disabled {
  color: grey !important;
}

.content__select {
  color: #fe5f55 !important;
  background: none;
  border: none;
  font-family: "Junge", serif;
  font-size: 12pt;
  cursor: pointer;
}

.link__black {
  text-decoration: none;
  color: #000000;
}

.link__black:visited {
  text-decoration: none;
  color: #000000;
}

.link__white {
  text-decoration: none;
  color: #ffffff;
}

.link__white:visited {
  text-decoration: none;
  color: #ffffff;
}

.link__red {
  text-decoration: none;
  color: #fe5f55;
}

.link__red:visited {
  text-decoration: none;
  color: #fe5f55;
}

.footer {
  background-color: white;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

.header {
  background-color: white;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__text {
  max-width: 210px;
}

.loggedin {
  background-color: white;
  padding: 0px 20px 0px 0px;
  align-self: center;
}

.navbar {
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.navbar__container {
  border-top: solid #fe5f55 2px;
  padding: 20px 0px 5px 0px;
}

.navbar__title {
  cursor: pointer;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.navbar__topic {
  padding-right: 20px;
}

.content {
  background-color: white;
  margin-top: 20px;
}

.content__container {
  padding: 10px 20px 10px 20px;
}

.content__articlelist {
  list-style-type: none;
  padding-left: 0;
}

.content__articlelist__title {
  color: #fe5f55;
  padding: 10px 0px 0px 20px;
}

.content__title {
  color: #fe5f55;
}

.content__article__title {
  background-color: #fe5f55;
  color: white;
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content__article__title__name {
    font-size: 12pt;
  }

  .content__article__title__stats {
    font-size: 10pt;
  }
}

@media (min-width: 600px) {
  .content__article__title__name {
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content__article__title__stats {
    max-width: 25%;
  }
}

.content__vote {
  display: flex;
  align-items: center;
}

.content__vote__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__article__body {
  background-color: #faf1ef;
  color: black;
  justify-self: stretch;
  margin: 5px;
  padding: 10px;
}

.content__comments {
  margin: 5px;
}

.content__comments__title {
  background-color: #fe5f55;
  color: white;
  padding: 10px;
}

.content__comments__list {
  list-style-type: none;
  padding-left: 0;
}

.content__comments__list__comment {
  background-color: #faf1ef;
  color: black;
  justify-self: stretch;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.content__comments__commentlabel {
  display: flex;
  margin-left: 30px;
}

.content__comments__commentinput {
  margin: 10px;
  align-self: center;
  border-bottom: #fe5f55 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.content__createarticle__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
}

.content__createarticle__label {
  display: flex;
}

.content__createarticle__input {
  margin: 10px;
  align-self: center;
  border-bottom: #fe5f55 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.content__message__text {
  color: #fe5f55;
}

.content__pages {
  display: flex;
}
